<div class="d-flex justify-content-between p-4" >
  <div>
    <h2>Reservations</h2>
  </div>
  <a href="#" class="btn btn-outline-success text-center">Add</a>
</div>
<table class="content-table w-100 ">
  <thead>
  <tr>
    <th>NUMERO</th>
    <th>Date Reservation</th>

    <th>Points</th>
    <th>Team</th>
    <th style="float: right">ACTIONS</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Domenic</td>
    <td>88,110</td>
    <td>dcode</td>
    <td class="d-flex justify-content-center align-content-center float-right">
      <a href="" class="btn btn-success mr-2">Modifier</a>
      <form>
        <button class="btn btn-danger">Supprimer</button>
      </form>
    </td>
  </tr>
  <tr class="active-row">
    <td>2</td>
    <td>Sally</td>
    <td>72,400</td>
    <td>Students</td>
    <td class="d-flex justify-content-center align-content-center float-right">
      <a href="" class="btn btn-success mr-2">Modifier</a>
      <form>
        <button class="btn btn-danger">Supprimer</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Nick</td>
    <td>52,300</td>
    <td>dcode</td>
    <td class="d-flex justify-content-center align-content-center float-right">
      <a href="" class="btn btn-success mr-2">Modifier</a>
      <form>
        <button class="btn btn-danger">Supprimer</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
