<!-- =============== Navigation ================ -->
<div class="navigation" >
  <ul>
    <li>
      <a href="#">
          <span class="icon">
            <!-- <ion-icon name="logo-apple"></ion-icon> -->
          </span>
        <span class="title">Synergy Immo</span>
      </a>
    </li>

    <li>
      <a [routerLink]="['/admin/dashboard']">
          <span class="icon">
            <i class="bi bi-speedometer"></i>
          </span>
        <span class="title">Dashboard</span>
      </a>
    </li>

    <li>
      <a [routerLink]="['/admin/gestionclients/list']">
          <span class="icon">
            <!-- <ion-icon name="people-outline"></ion-icon> -->
          </span>
        <span class="title">Gestion clients</span>
      </a>
    </li>

    <li>
      <a [routerLink]="['/admin/gestionproprietaire/list']">
          <span class="icon">
            <!-- <ion-icon name="chatbubble-outline"></ion-icon> -->
          </span>
        <span class="title">Gestion proprietaire</span>
      </a>
    </li>

    <li>
      <a [routerLink]="['/admin/gestionresidence/list']">
          <span class="icon">
            <!-- <ion-icon name="help-outline"></ion-icon> -->
          </span>
        <span class="title">Gestion Residence</span>
      </a>
    </li>

    <li>
      <a [routerLink]="['/admin/gestionreservation/list']">
          <span class="icon">
            <!-- <ion-icon name="settings-outline"></ion-icon> -->
          </span>
        <span class="title">Gestion Reservation</span>
      </a>
    </li>

    <li>
      <a [routerLink]="['/admin/gestioncommentaire/list']">
          <span class="icon">
            <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
          </span>
        <span class="title">Gestion Commentaire</span>
      </a>
    </li>

    <li>
      <a href="#">
          <span class="icon">
            <!-- <ion-icon name="log-out-outline"></ion-icon> -->
          </span>
        <span class="title">Deconnexion</span>
      </a>
    </li>
  </ul>
</div>
