<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>


<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="home-section">

  <div class="container">
    <div class="d-flex justify-content-between row align-items-center">

      <div class="col-6 col-xl-2">
        <a [routerLink]="['/']"><img style="height: 100px;" src="/images/logo_synergy.png"></a>
      </div>

      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="d-flex site-navigation position-relative text-right" role="navigation">

          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li><a [routerLink]="['/accueil']" class="nav-link">Accueil</a></li>
            <li><a [routerLink]="['/list-residence']" class="nav-link">Nos biens</a></li>
          </ul>
          <div class="d-flex">
            <a [routerLink]="['/auth/login']" class="btn btn-success mr-2"
            >Se connecter</a
            >
            <a [routerLink]="['/auth/register']" class="btn btn-outline-success"
            >Vous etes proprietaire</a
            >
          </div>
        </nav>
      </div>


      <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white float-right"><span class="icon-menu h3"></span></a></div>

    </div>
  </div>

</header>
