<div class="d-flex justify-content-between p-4" >
  <div>
    <h2>Clients</h2>
  </div>
  <a href="#" class="btn btn-outline-success text-center">Add</a>
</div>
<table class="content-table w-100 ">
  <thead>
  <tr>
    <th>NUMERO</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Telephone</th>
    <th>Genre</th>
    <th>Email</th>
    <th style="float: right">ACTIONS</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Doua</td>
    <td>Jean</td>
    <td>0704807000</td>
    <td>Masculin</td>
    <td>jncho1717gmail.Com</td>
    <td class="d-flex justify-content-center align-content-center float-right">
      <a href="" class="btn btn-success mr-2">Modifier</a>
      <form>
        <button class="btn btn-danger">Supprimer</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>Doua</td>
    <td>Jean</td>
    <td>0704807000</td>
    <td>Masculin</td>
    <td>jncho1717gmail.Com</td>
    <td class="d-flex justify-content-center align-content-center float-right">
      <a href="" class="btn btn-success mr-2">Modifier</a>
      <form>
        <button class="btn btn-danger">Supprimer</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>Doua</td>
    <td>Jean</td>
    <td>0704807000</td>
    <td>Masculin</td>
    <td>jncho1717gmail.Com</td>
    <td class="d-flex justify-content-center align-content-center float-right">
      <a href="" class="btn btn-success mr-2">Modifier</a>
      <form>
        <button class="btn btn-danger">Supprimer</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
