<!-- ========================= Main ==================== -->
<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>
  <app-side-bar></app-side-bar>
  <div class="main">
    <!-- ================ Order Details List ================= -->
    <div class="details ">
      <div class="recentOrders">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
