<div class="d-flex justify-content-between p-4" >
  <div>
    <h2>Residence</h2>
  </div>
  <a [routerLink]="['/admin/gestionresidence/form']" class="btn btn-outline-success text-center">Ajouter une residence</a>
</div>
<table class="content-table w-100 ">
  <thead>
  <tr>
    <th>NUMERO</th>
    <th>Description</th>
    <th>Prix</th>
    <th>Name</th>
    <th>Disponibilité</th>
    <th>Ville</th>
    <th>Quartier</th>
    <th style="float: right">ACTIONS</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Situé en plein cœur de Casablanca, dans le quartier dynamique de Maarif,  </td>
    <td>88,110 FCFA</td>
    <td>Disponible</td>
    <td>Residence Nabil</td>
    <td>Abidjan</td>
    <td>Plateau , Avenue noguess</td>
    <td class="d-flex justify-content-center align-content-center float-right">
      <a href="" class="btn btn-success mr-2">Modifier</a>
      <form>
        <button class="btn btn-danger">Supprimer</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>Situé en plein cœur de Casablanca, dans le quartier dynamique de Maarif,  </td>
    <td>88,110 FCFA</td>
    <td>Indisponible</td>
    <td>Residence Nabil</td>
    <td>Abidjan</td>
    <td>Plateau , Avenue noguess</td>
    <td class="d-flex justify-content-center align-content-center float-right">
      <a href="" class="btn btn-success mr-2">Modifier</a>
      <form>
        <button class="btn btn-danger">Supprimer</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>Situé en plein cœur de Casablanca, dans le quartier dynamique de Maarif,  </td>
    <td>88,110 FCFA</td>
    <td>Disponible</td>
    <td>Residence Nabil</td>
    <td>Abidjan</td>
    <td>Plateau , Avenue noguess</td>
    <td class="d-flex justify-content-center align-content-center float-right">
      <a href="" class="btn btn-success mr-2">Modifier</a>
      <form>
        <button class="btn btn-danger">Supprimer</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
