<div class="container">

  <form action="">

    <div class="row mb-3">
      <div class="col">
        <h3 class="title">Enregistrement résidence</h3>
        <div class="inputBox">
          <span> Nom de la residence</span>
          <input type="text" placeholder="nom" class="form-control">
        </div>
        <div class="inputBox">
          <span>Prix</span>
          <input type="email" placeholder="Entrez un montant" class="form-control">
        </div>
        <div class="inputBox">
          <span>Description</span>
          <textarea class="form-control"></textarea>
        </div>
        <div class="inputBox">
          <span>Disponibilité</span>
          <select class="form-control">
            <option>oui</option>
            <option>non</option>
          </select>
        </div>
        <div class="flex">
          <div class="inputBox">
            <span>Ville</span>
            <input type="text" placeholder="india" class="form-control">
          </div>
          <div class="inputBox">
            <span>Quartier</span>
            <input type="text" placeholder="123 456" class="form-control">
          </div>
          <div class="inputBox">
            <span>Nombre de chambre </span>
            <input type="text" placeholder="123" class="form-control">
          </div>
        </div>
        <div class="flex">
          <div class="inputBox">
            <span>Nombre de douches</span>
            <input type="text" placeholder="india" class="form-control">
          </div>
          <div class="inputBox">
            <span>Nombre de salle a manger</span>
            <input type="text" placeholder="123 456" class="form-control">
          </div>
          <div class="inputBox">
            <span>Nombre de Terrase </span>
            <input type="text" placeholder="123" class="form-control">
          </div>
        </div>
        <div class="flex">
          <div class="inputBox">
            <span>WIFI</span>
            <div class="row">
              <div class="col">
                <input type="checkbox" class="form-check">
              </div>
            </div>
          </div>
          <div class="inputBox">
            <span>Menage</span>
            <div class="row">
              <div class="col">
                <input type="checkbox" class="form-check">
              </div>
            </div>
          </div>
          <div class="inputBox">
            <span>Restauration</span>
            <div class="row">
              <div class="col">
                <input type="checkbox" class="form-check">
              </div>
            </div>
          </div>
          <div class="inputBox">
            <span>Parking</span>
            <div class="row">
              <div class="col">
                <input type="checkbox" class="form-check">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inputBox">
        <div class="flex">
          <div class="inputBox">
            <input type="file" multiple class="form-control">
          </div>
        </div>
      </div>
    </div>
    <input type="submit" value="Suivant" class="btn btn-success w-100">
  </form>

</div>

